$logo: "";
$mobile: "only screen and (min-width : 370px) and (max-width : 780px)";
$mobileSmall: "only screen and (min-width : 280px) and (max-width : 369px)";
$default: "not screen and (min-width : 280px) and (max-width : 780px)";
$grey: #DEDEDE;

html{
  background-color: #e4e4e4;
}

@import "header";
@import "content";
@import "footer";
